node_modules/
vendor/
public/package-lock.json
composer.lock
test/test.php
.env

# pyhwa2
backend/storage/accounts/*
backend/storage/contents/*
!backend/storage/accounts/.gitkeep
!backend/storage/contents/.gitkeep
backend/storage.json