@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import './theme/kslabs_theme';

$background: $background-variant-0;
$text: $brand-text;
$text_alt: lightblue;
$primary: $brand-primary;
$max-width: 1600px;

$red: $color-red;
$green: $color-green;
$blue: $color-blue;
$orange: $color-orange;
$purple: $color-purple;
$yellow: $color-yellow;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: $background;
    color: $text;
}

.effect {
    &__sparkles {
        // text-shadow: #ee82ee 1px 1px 10px;
        // color: red;
        background: url('../img/effects/username_effect.gif');
    }

    &__gold {
        text-shadow: $yellow 1px 1px 10px;
        color: $yellow;

        svg {
            filter: drop-shadow($yellow 1px 1px 10px);
        }
    }

    &__red {
        text-shadow: $red 1px 1px 10px;
        color: $red;

        svg {
            filter: drop-shadow($red 1px 1px 10px);
        }
    }

    &__green {
        text-shadow: $green 1px 1px 10px;
        color: $green;

        svg {
            filter: drop-shadow($green 1px 1px 10px);
        }
    }

    &__blue {
        text-shadow: $blue 1px 1px 10px;
        color: $blue;

        svg {
            filter: drop-shadow($blue 1px 1px 10px);
        }
    }

    &__orange {
        text-shadow: $orange 1px 1px 10px;
        color: $orange;

        svg {
            filter: drop-shadow($orange 1px 1px 10px);
        }
    }

    &__purple {
        text-shadow: $purple 1px 1px 10px;
        color: $purple;

        svg {
            filter: drop-shadow($purple 1px 1px 10px);
        }
    }
}

.border {
    &__gold {
        border: 3px solid $yellow;
    }

    &__red {
        border: 3px solid $red;
    }

    &__green {
        border: 3px solid $green;
    }

    &__blue {
        border: 3px solid $blue;
    }

    &__orange {
        border: 3px solid $orange;
    }

    &__purple {
        border: 3px solid $purple;
    }
}

header {
    background-color: lighten($background, 5%);
    border-bottom: 1px solid $primary;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;

    nav {
        max-width: $max-width;
        margin: 0 auto;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 10px;

            padding-left: 0;
            list-style: none;
            align-items: center;

            a {
                text-decoration: none;

                li {
                    transition: all .3s ease-in-out;
                    color: $text;

                    svg {
                        fill: $text;
                        $size: 18px;
                        width: $size;
                        height: $size;
                    }

                    &.baseicon {
                        padding: 12px;
                        background-color: $background;
                        display: flex;
                        align-items: center;
                        border-radius: 9px;

                        &:hover {
                            background-color: darken($background, 5%);
                        }
                    }

                    &.search {
                        border-radius: 99px;
                        padding: 12px 24px;
                    }

                    &.logo {

                        svg {
                            fill: $text;
                            $size: 33px;
                            width: $size;
                            height: $size;
                        }
                    }

                    &.login {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        padding: 12px 18px;
                        font-weight: bolder;
                        background-color: $background;
                        display: flex;
                        align-items: center;
                        border-radius: 99px;

                        &:hover {
                            background-color: darken($background, 5%);
                        }
                    }

                    &.profile {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        padding: 8px 14px;
                        font-weight: bolder;
                        background-color: $background;
                        display: flex;
                        align-items: center;
                        border-radius: 9px;

                        img {
                            $size: 26px;
                            object-fit: cover;
                            width: $size;
                            height: $size;
                            border-radius: 100%;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            gap: 2px;
                        }

                        &:hover {
                            background-color: darken($background, 5%);
                        }
                    }
                }
            }
        }
    }
}

.loginInterface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    form {
        display: flex;
        flex-direction: column;
        gap: 9px;

        input {
            background-color: $background;
            border: none;
            outline: none;
            padding: 9px 12px;
            border-radius: 9px;
            color: $text;
            font-size: 20px;
            border: 1px solid $primary;

            &:valid~button {
                background-color: $primary;
            }
        }

        button {
            background-color: lighten($background, 5%);
            border: none;
            outline: none;
            padding: 9px 12px;
            border-radius: 9px;
            color: $text;
            font-size: 20px;
            cursor: pointer;
            transition: .4s;

            &:hover {
                background-color: darken($primary, 5%);
            }
        }
    }
}

.errorInterface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        padding: 10px;
        border-radius: 10px;
        background-color: transparentize($red, 0.5);
    }
}

.profile_header {
    max-width: $max-width;
    margin: 30px auto;

    &__container {
        position: relative;
        width: 100%;
        height: 360px;
        background-color: lighten($background, 10%);
        border-radius: 10px;
        overflow: hidden;

        .bottom {
            display: flex;
            align-items: bottom;
            gap: 10px;

            position: absolute;
            // align-items: end;
            bottom: 0;
            left: 0;
            width: 100%;

            padding: 10px;

            .left {
                .pfp {
                    img {
                        $size: 124px;
                        width: $size;
                        height: $size;
                        // border-radius: 10px;
                        display: block;
                        object-fit: cover;
                    }
                }
            }

            .right {

                display: flex;
                flex-direction: column;
                gap: 10px;

                // background-color: transparentize($background, .5);
                flex: 1;

                // padding: 10px;
                p.username {
                    font-size: 2em;
                    font-weight: 900;
                    display: flex;
                    align-items: end;
                    gap: 7px;

                    // box-shadow: 0 0 10px #000;

                    span {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        filter: drop-shadow(0 0 4px #000);
                    }

                    span.nameid {
                        font-size: 12px;
                        padding: 3px 8px;
                        background-color: transparentize($primary, .5);
                        margin-bottom: 3px;
                    }
                }

                .badgearea {
                    display: flex;
                    gap: 9px;

                    span {
                        background-color: $background;
                        padding: 6px 12px;
                        font-size: 14px;
                        filter: drop-shadow(0 0 5px #000);
                    }
                }

                p.dateJoin {
                    filter: drop-shadow(0 0 5px #000);
                }
            }
        }
    }
}

.profile_split {
    max-width: $max-width;
    margin: 30px auto;

    &__container {
        display: flex;
        gap: 15px;

        .left {
            width: 250px;

            a.settings_account {
                text-decoration: none;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;
                    width: 100%;
                    font-size: 16px;
                    background-color: $primary;
                    color: $text;
                    border: none;
                    padding: 10px 0;
                    cursor: pointer;

                    &:hover {
                        background-color: darken($primary, 10%);
                    }
                }
            }

            .titlee {
                margin: 0 0 10px 0;

                p {
                    padding: 6px 0;
                    text-align: center;
                    background-color: lighten($background, 10%);
                }
            }

            p.icon {
                display: flex;
                gap: 7px;
                align-items: center;

                svg {
                    transform: translateY(1px);
                }
            }


            h3 {
                margin: 0 0 10px 0;
            }
        }

        .right {
            flex: 1;

            .bio {
                padding: 10px;
                background-color: lighten($background, 10%);
                font-size: 18px;

                blockquote {
                    padding-left: 10px;
                    border-left: 5px solid $primary;
                }

                a {
                    color: $primary;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.profile_settings {
    margin: 20px auto;
    max-width: $max-width;

    .profile-change {
        max-width: 100%;
        margin: 30px auto;

        hr {
            border: 1px solid lighten($background, 30%);
            margin: 17px 0;
        }

        .container {
            display: flex;

            .left {
                width: 300px;

                ul {
                    padding-left: 0;
                    list-style: none;
                    top: 100px;
                    position: sticky;

                    a {
                        text-decoration: none;
                    }

                    li {
                        font-size: 18px;
                        color: $text_alt;
                        padding: 5px 10px;
                        border-radius: 0.2rem;
                        transition: 0.2s;
                        border-left: 0 solid $primary;
                        margin: 5px 0;
                        cursor: pointer;

                        display: flex;
                        gap: 7px;
                        align-items: center;

                        &:hover {
                            border-left: 4px solid $primary;
                            background-color: lighten($background, 10%);
                        }

                        &.logout {
                            border-left: 0 solid $red;

                            &:hover {
                                border-left: 4px solid $red;
                            }

                            &.active {
                                border-left: 4px solid $red;
                                background-color: $red;
                            }
                        }

                        &.active {
                            background-color: $primary;
                            color: $text;
                            border-left: 4px solid $primary;
                        }
                    }
                }
            }

            .right {
                flex: 1;
                margin-left: 20px;

                .danger {
                    color: $red;
                }

                .censored {
                    color: $text;
                    background-color: $text;
                    display: inline;
                    padding: 0 15px;

                    &:hover {
                        color: $background;
                    }
                }

                >div {
                    display: flex;
                    padding: 15px;
                    border-bottom: 2px solid lighten($background, 30%);

                    div {
                        &:first-child {
                            margin: 0 19px 0 0;
                            width: 100%;
                            flex: 1;
                        }

                        &:last-child {
                            width: 300px;
                        }
                    }


                    .pfp {
                        width: 300px;
                        height: 300px;
                        transform: translateX(5px);
                        img {
                            display: block;
                            width: 100%;
                            height: 300px;
                            object-fit: cover;
                        }
                    }

                    form {

                        input,
                        button,
                        textarea,
                        select {
                            width: 100%;
                            margin: 5px;
                        }

                        textarea {
                            resize: vertical;
                            background-color: lighten($background, 10%);
                            outline: none;
                            border: none;
                            font-size: 18px;
                            border-radius: 0 0 2rem 0;
                            color: $text_alt;
                            height: 3rem;
                        }


                        input {
                            background-color: lighten($background, 10%);
                            outline: none;
                            border: none;
                            font-size: 18px;
                            color: $text_alt;
                        }

                        button {
                            border: none;
                            color: $text;
                            background: $primary;
                            padding: 5px 0;
                            cursor: pointer;
                        }

                        select {
                            border: none;
                            color: $text;
                            background: lighten($background, 10%);
                            padding: 5px 0;
                            cursor: pointer;
                        }

                        .red {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }

    .notification {
        max-width: 500px;
        border-radius: 0.3rem;
        margin: 0 auto;
        padding: 12px 24px;
        color: $text;

        &.alert {
            background-color: $red;

            p {
                opacity: 1;
            }
        }

        &.success {
            background-color: $green;

            p {
                opacity: 1;
            }
        }

        &.notif {
            background-color: $blue;

            p {
                opacity: 1;
            }
        }

        button.action {
            background-color: $primary;
            color: $text;
            border: none;
            outline: none;
            font-size: 18px;
            cursor: pointer;
            padding: 5px 9px;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}