@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import './theme/kslabs_theme';

$background: $background-variant-0;
$text: $brand-text;
$primary: $brand-primary;
$max-width: 1600px;

$red: $color-red;
$green: $color-green;
$blue: $color-blue;
$orange: $color-orange;
$purple: $color-purple;
$yellow: $color-yellow;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: $background;
    color: $text;
}

header {
    background-color: lighten($background, 5%);
    border-bottom: 1px solid $primary;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;

    nav {
        max-width: $max-width;
        margin: 0 auto;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 10px;

            padding-left: 0;
            list-style: none;
            align-items: center;

            a {
                text-decoration: none;

                li {
                    transition: all .3s ease-in-out;
                    color: $text;

                    svg {
                        fill: $text;
                        $size: 18px;
                        width: $size;
                        height: $size;
                    }

                    &.baseicon{
                        padding: 12px;
                        background-color: $background;
                        display: flex;
                        align-items: center;
                        border-radius: 9px;

                        &:hover {
                            background-color: darken($background, 5%);
                        }
                    }

                    &.search {
                        border-radius: 99px;
                        padding: 12px 24px;
                    }

                    &.logo {

                        svg {
                            fill: $text;
                            $size: 33px;
                            width: $size;
                            height: $size;
                        }
                    }

                    &.login {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        padding: 12px 18px;
                        font-weight: bolder;
                        background-color: $background;
                        display: flex;
                        align-items: center;
                        border-radius: 99px;

                        &:hover {
                            background-color: darken($background, 5%);
                        }
                    }

                    &.profile {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        padding: 8px 14px;
                        font-weight: bolder;
                        background-color: $background;
                        display: flex;
                        align-items: center;
                        border-radius: 9px;

                        img{
                            $size: 26px;
                            object-fit: cover;
                            width: $size;
                            height: $size;
                            border-radius: 100%;
                        }

                        &:hover {
                            background-color: darken($background, 5%);
                        }
                    }
                }
            }
        }
    }
}

.loginInterface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    form {
        display: flex;
        flex-direction: column;
        gap: 9px;

        input {
            background-color: $background;
            border: none;
            outline: none;
            padding: 9px 12px;
            border-radius: 9px;
            color: $text;
            font-size: 20px;
            border: 1px solid $primary;

            &:valid~button {
                background-color: $primary;
            }
        }

        button {
            background-color: lighten($background, 5%);
            border: none;
            outline: none;
            padding: 9px 12px;
            border-radius: 9px;
            color: $text;
            font-size: 20px;
            cursor: pointer;
            transition: .4s;

            &:hover {
                background-color: darken($primary, 5%);
            }
        }
    }
}

.errorInterface{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p{
        padding: 10px;
        border-radius: 10px;
        background-color: transparentize($red, 0.5);
    }
}